:root {
  --color-primary: #3D6CB9;
  --color-secondary: #6BBE45;
  --color-tertiary: #FFD166; 
  --color-background: #F4F4F4;
  --color-text: #333;
  --color-text-light: #777;
}


ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}


header {
  background-color: #333;
  padding: 10px;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #555;
}


.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.genre-section {
  text-align: center;
}

.genre-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.artist {
  margin-bottom: 20px;
}

.artist img {
  max-width: 150px; 
  max-height: 150px; 
  width: auto;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.artist-name {
  margin-top: 5px;
  font-size: 16px;
  color: #555;
}
